
.cabecalho-principal {
    background-color: #FEFEFE;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 30px;
    min-height: 60px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.menu-navegacao {
    display: flex;
}

.lista-links {
    list-style: none;
    display: flex;
}

.item-link {
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.btn-nova-tarefa {
    justify-self: end;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    background-color: #4E33DD;
    color: #FEFEFE;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}



